* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
  color: #444;
  font-family: sans-serif;
  border-top: 10px solid #1098ad;
}

article {
  /* margin-bottom: 60px; */
}

nav {
  font-size: 18px;
}

.container {
  width: 1200px;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
  position: relative;
  row-gap: 60px;
}

/* .mid-container {
  display: flex;
  gap: 75px;
  margin-bottom: 60px;
  align-items: start;
} */

.main-header {
  background-color: #f7f7f7;
  /* background-color: orangered; */
  padding: 20px 40px;
  /* margin-bottom: 60px; */
}

.post-header {
  margin-bottom: 40px;
}

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;  
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;  
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;  
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;
  text-decoration: uppercase;
  text-align: center;
}

p {
  font-size: 22px;  
  line-height: 1.5;
  margin-bottom: 15px;
  display: inline;
}

ul, ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

li {
  font-size: 20px; 
  margin-bottom: 10px; 
}

li:last-child {
  margin-bottom: 0;
}

/* header p {
  font-style: italic;
} */

#author {
  font-style: italic;
  font-size: 18px;
  margin-bottom: 0px;
}

/* footer p {
  font-size: 16px;
} */

#copyright {
  font-size: 16px;
}

.related-author {
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 0;
  font-size: italic;
}

.related-link:link {
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  display: block;
}

.related-ul {
  margin-left: 0;
}

.related-posts-list-item {
  list-style: none;
  margin-left: 0;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding-top: 50px;
  padding-bottom: 50px;
  /* padding: 50px; */
  /* width: 500px; */
}

li:first-child{
  font-weight: bold;
}

li:last-child{
  font-style: italic;
}



/* won't work because p is not the first child of article */
article p:first-child {
  color: red;
}

a:link {
  color:#1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}

a:active {
  background-color: black;
  font-style: italic;
}

.post-image {
  width: 100%;
  height: auto;
}

nav a:link {
  margin-right: 30px;
  display: inline-block;
}

nav a:link:last-child {
  margin-right: 0px;
}

.like-button {
  position: absolute;
  font-size: 22px;
  bottom: 50px;
  right: 50px;
  padding: 20px;
}

h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}

h2 {
  /* background-color: orange; */
  position: relative;
}

h2::after {
  position: absolute;
  top: -10px;
  right: -20px;
  content: "TOP";
  background-color: yellow;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  color: black;
}

.related {
  text-transform: uppercase;
  margin-bottom: 30px;
}

/* p::first-line {
  color: red;
} */



/* 
FLOATS

.author-img {
  float: left;
  margin-bottom: 20px;
}

.author {
  float: left;
  margin-top: 10px;
  margin-left: 20px;
}

h1 {
  float: left;
}

nav {
  float: right;
}

.clear {
  clear: both;
}

.clearfix::after {
  clear: both;
  content: '';
  display: block;
}

article {
  background-color: green;
  width: 825px;
  float: left;
}

aside {
  background-color: red;
  width: 300px;
  float: right;
  padding: 50px 40px;

}

footer {
  background-color: yellow;
  clear: both;
} */

/* FLEXBOX */

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.author-box {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.related-posts-list-item {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 30px;
}

/* Defaults
        flex-grow: 0; 0 - items can't grow to fill space, 1 - yes, 2 doubles
        flex-shrink: 1; 1 - yes items can be shrunk to fit container, 0 no
        flex-basis: auto; */

/* article {
  flex: 1;
  margin-bottom: 0;
}

aside {
  flex: 0 0 300px;
} */

/* CSS GRID LAYOUT */
.container {
  display: grid;
  grid-template-columns: 1fr 300px;
  column-gap: 75px;
  align-items: start;
}

.main-header{
  /* grid-column: 1/ span 2;
  grid-column: 1/-1;
  all the same */
  grid-column: 1/3;  

}

/* article {
  

}

aside {
  

} */

footer {
  grid-column: 1/3;
}



